<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="auto" width="100%" style="margin: 0 auto"/>

<div class="side-bar-section armor-section">
    {{#with data.attributes.ac as |ac|}}
        <div class="side-bar-section-header" title="{{ac.breakdown}}">
            <div class="side-bar-label armor-label">
                <i class="fas fa-shield-alt"></i>
                <h4>{{localize "PF2E.ArmorClassShortLabel"}}</h4>
            </div>
            <div class="armor-base labelled-field">
                <input class="armor-value adjustable{{#if ac.adjustedHigher}} adjusted-higher{{else if ac.adjustedLower}} adjusted-lower{{/if}}" type="text" data-property="data.attributes.ac.value" value="{{ac.value}}" data-dtype="Number" placeholder="0"/>
            </div>
        </div>
        <div class="side-bar-section-content">
            <input type="text" name="data.attributes.ac.details" value="{{ac.details}}" class="armor-details" placeholder="{{localize "PF2E.NPC.ArmorExtraInfoLabelPlaceholder"}}" />
        </div>
    {{/with}}
    <div class="side-bar-section-content">
        {{#if hasHardness}}
            <div class="armor-base labelled-field">
                <label>{{localize "PF2E.HardnessLabel"}}</label>
                <input type="number" data-property="data.attributes.hardness.value" value="{{data.attributes.hardness.value}}" placeholder="0" />
            </div>
        {{/if}}
    </div>
</div>
{{#if hasShield}}
    <div class="side-bar-section shield-section{{#if data.attributes.shieldBroken}} broken" title="{{localize 'PF2E.ShieldBTLabel'}}{{/if}}">
        <div class="side-bar-section-header">
            <div class="side-bar-label shield-label">
                <i class="fas fa-user-shield{{#if data.attributes.shieldBroken}} broken{{/if}}"></i>
                <h4> {{localize "PF2E.ShieldLabel"}}</h4>
                <div class="shield-value">
                    <input class="shield-current" type="number" name="data.attributes.shield.value" value="{{data.attributes.shield.value}}" placeholder="0" />
                    <span>/</span>
                    <label class="shield-max" title="{{localize "PF2E.ShieldMaxTitle"}}">{{data.attributes.shield.max}}</label>
                </div>
            </div>
        </div>
        <div class="side-bar-section-content">
            <div class="shield-details">
                <label class="label" title="{{localize "PF2E.ShieldACBonusTitle"}}">{{localize "PF2E.ArmorClassShortLabel"}}</label>
                <label class="value">{{data.attributes.shield.ac}}</label>
                <label class="label" title="{{localize "PF2E.ShieldHardnessTitle"}}">{{localize "PF2E.ShieldHardnessShortLabel"}}</label>
                <label class="value">{{data.attributes.shield.hardness}}</label>
                <label class="label" title="{{localize "PF2E.ShieldBTTitle"}}">{{localize "PF2E.ShieldBTShortLabel"}}</label>
                <label class="value">{{data.attributes.shield.brokenThreshold}}</label>
            </div>
        </div>
    </div>
{{/if}}
<div class="side-bar-section health-section">
    <div class="side-bar-section-header" title="{{data.attributes.hp.breakdown}}">
        <div class="side-bar-label">
            <i class="fas fa-heart"></i>
            <h4> {{localize "PF2E.HitPointsShortLabel"}}</h4>
            <div class="health-value">
                {{#with data.attributes.hp as |hp|}}
                    <input type="number" name="data.attributes.hp.value" value="{{hp.value}}" placeholder="0" />
                    <span>/</span>
                    <input type="text" class="adjustable{{#if (lt hp.max 10)}} lt10{{else if (lt hp.max 100)}} lt100{{else}} lt1000{{/if}}{{#if hp.adjustedHigher}} adjusted-higher{{else if hp.adjustedLower}} adjusted-lower{{/if}}" data-property="data.attributes.hp.max" value="{{hp.max}}" data-dtype="Number" placeholder="0"/>
                {{/with}}
            </div>
        </div>
    </div>
    <div class="side-bar-section-content">
        <div class="hp-temp labelled-field">
            <label>{{ localize "PF2E.RuleElement.TempHPShortLabel"}}</label>
            <input class="hp-temp-value" type="number" name="data.attributes.hp.temp" value="{{ data.attributes.hp.temp }}" data-dtype="Number" placeholder="0"/>
        </div>
    </div>
    <div class="side-bar-section-content">
        <input class="hp-details" type="text" name="data.attributes.hp.details" value="{{ data.attributes.hp.details }}" title="{{ data.attributes.hp.details }}" data-dtype="String" placeholder="{{ localize 'PF2E.NPC.HPExtraInfoLabelPlaceholder' }}"/>
    </div>
</div>
<div class="weaknesses side-bar-section">
    <div class="side-bar-section-header{{#unless data.traits.dv}} disabled{{/unless}}">
        <div class="side-bar-label">
            <i class="fas fa-heart-broken"></i>
            <h4>{{ localize "PF2E.WeaknessesLabel"}}</h4>
        </div>
        {{#if options.editable}}
            <div class="weaknesses-controls controls">
                <a class="trait-edit edit" data-trait-selector="weaknesses" title="{{localize "PF2E.NPC.EditWeaknesses"}}"><i class="fas {{#if data.traits.dv }}fa-edit {{else}}fa-plus{{/if}}"></i></a>
            </div>
        {{/if}}
    </div>
    <div class="side-bar-section-content">
        {{#each data.traits.dv as |weakness key|}}
            <div class="tag-legacy weakness" data-weakness="{{weakness.type}}">{{localize weakness.label}} {{weakness.value}}</div>
        {{/each}}
    </div>
</div>
<div class="resistances side-bar-section">
    <div class="side-bar-section-header {{#unless data.traits.dr}} disabled {{/unless}}">
        <div class="side-bar-label">
            <i class="fas fa-shield-virus"></i>
            <h4>{{localize "PF2E.ResistancesLabel"}}</h4>
        </div>
        {{#if options.editable}}
            <div class="resistances-controls controls">
                <a class="trait-edit edit" data-trait-selector="resistances" title="{{localize "PF2E.NPC.EditResistances"}}"><i class="fas {{#if data.traits.dr}}fa-edit {{else}}fa-plus{{/if}}"></i></a>
            </div>
        {{/if}}
    </div>
    <div class="side-bar-section-content">
        {{#each data.traits.dr as |resistance key|}}
            <div class="tag-legacy resistance" data-weakness="{{resistance.type}}">{{localize resistance.label}} {{resistance.value}}{{#if resistance.exceptions}} ({{resistance.exceptions}}){{/if}}</div>
        {{/each}}
    </div>
</div>
<div class="immunities side-bar-section">
    <div class="side-bar-section-header{{#unless hasImmunities}} disabled{{/unless}}">
        <div class="side-bar-label">
            <i class="fas fa-ankh"></i>
            <h4>{{localize "PF2E.ImmunitiesLabel"}}</h4>
        </div>
        {{#if options.editable }}
            <div class="immunities-controls controls">
                <a class="trait-edit edit" data-trait-selector="basic" data-title="PF2E.ImmunitiesLabel" data-config-types="immunityTypes" data-property="data.traits.di" title="{{localize "PF2E.NPC.EditImmunities"}}"><i class="fas {{#if hasImmunities}}fa-edit {{else}}fa-plus{{/if}}"></i></a>
            </div>
        {{/if}}
    </div>

    <div class="side-bar-section-content">
        {{#each immunities as |immunity key|}}
            <div class="tag-legacy immunity" data-weakness="{{localize key}}">{{localize immunity}}</div>
        {{/each}}
    </div>
</div>
<div class="saves">
    {{#each data.saves as |save saveType|}}
        <div class="container" data-save="{{saveType}}">
            <label class="attribute-label rollable" title="{{save.breakdown}}"><a>{{localize save.labelShort}}</a></label>
            <input type="text" value="{{numberFormat save.value decimals=0 sign=true}}" class="modifier adjustable{{#if save.adjustedHigher}} adjusted-higher{{else if save.adjustedLower}} adjusted-lower{{/if}}" data-property="data.saves.{{saveType}}.value" data-dtype="Number" placeholder="0" />
        </div>
    {{/each}}
</div>
<div class="save-details side-bar-section">
    <div class="side-bar-section-content">
        <input type="text" name="data.attributes.allSaves.value" value="{{data.attributes.allSaves.value}}" title="{{data.attributes.allSaves.value}}" placeholder="{{localize "PF2E.NPC.SavesExtraInfoLabelPlaceholder"}}"/>
    </div>
</div>
<div class="speed side-bar-section">
    <div class="side-bar-section-header">
        <div class="side-bar-label">
            <i class="fas fa-shoe-prints"></i>
            <h4>{{localize "PF2E.NPC.SpeedLabel"}}</h4>
        </div>
        {{#if options.editable}}
            <div class="speed-controls controls">
                <a class="trait-edit edit" data-trait-selector="speed-types" data-attribute="data.attributes.speed.otherSpeeds" data-options="speedTypes" data-has-values="true" title="{{ localize 'PF2E.NPC.EditSpeed' }}"><i class="fas fa-edit"></i></a>
            </div>
        {{/if}}
    </div>
    <div class="speed-section side-bar-section-content">
        <div class="land-speed">
            <input type="text" name="data.attributes.speed.value" value="{{data.attributes.speed.value}}" placeholder="0"/>
        </div>
        <div class="other-speeds">
            {{#each data.attributes.speed.otherSpeeds as |speed speedId|}}
                {{#if speed.value }}
                    <div class="tag-legacy speed" data-speed="{{localize speed.type}}">
                        {{localize speed.label}} {{speed.value}}
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<div class="side-bar-section effects">
    <div class="side-bar-section-header">
        <div class="side-bar-label">
            <i class="fas fa-adjust"></i>
            <h4>{{localize "PF2E.EffectsLabel"}}</h4>
        </div>
    </div>
    <div class="side-bar-section-content">
        <div class="effects-list inventory-list">
            {{#each conditions as |condition index|}}
                <div class="item item-name effect expandable" title="{{condition.name}}" data-item-id="{{condition._id}}" data-action-index="{{index}}">
                    <div class="item-image" style="background-image: url({{condition.img}})"></div>
                </div>
            {{/each}}
            {{#each effectItems as |effect|}}
                {{#if @first}}<div class="separator"></div>{{/if}}
                <div class="item effect expandable" title="{{effect.name}}" data-item-id="{{effect._id}}">
                    <div class="item-image" style="background-image: url({{effect.img}})"></div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
