<div class="tab inventory" data-group="primary" data-tab="inventory">
    <ol class="inventory-list directory-list inventory-pane">
        {{#each actor.inventory as |section sid|}}
            <div class="inventory-header">
                <h3 class="item-name">{{section.label}}</h3>
                {{#if (eq sid "treasure")}}
                    <span class="item-sell-value">{{localize "PF2E.ValueLabel"}}</span>
                {{/if}}
                <span class="item-quantity">{{localize "PF2E.QuantityLabel"}}</span>
                <span class="item-weight">{{localize "PF2E.BulkShortLabel"}}</span>
                {{#if @root.editable}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize "PF2E.CreateItemTitle"}}" data-type="{{sid}}"><i class="fas fa-plus"></i></a>
                        <a class="item-control inventory-browse" title="{{localize "PF2E.OpenInventoryBrowser"}}" data-filter="itemtypes-{{sid}}"><i class="fas fa-search"></i></a>
                    </div>
                {{/if}}
            </div>
            <ol class="item-list">
                {{#each section.items as |item itemId|}}
                    {{#unless item.isInContainer}}
                        {{> systems/pf2e/templates/actors/crb-style/tabs/item-line.html item=item owner=@root.owner editable=@root.editable user=@root.user}}
                    {{/unless}}
                {{/each}}
            </ol>
        {{/each}}
    </ol>
</div>
